<html>
  <head>
    <title>Envision</title>
    <link type="text/css" rel="stylesheet" media="screen" href="../assets/stylesheets/bootstrap.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="../assets/stylesheets/bootstrap-theme.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="../assets/stylesheets/docs.min.css" />
  </head>
  <body>
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-12">
          <div snippet="index-content">
            <div id="app">
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer role="contentinfo" class="bs-footer">
      <div class="container">
        <p>Made with Statistiker (c)</p>
      </div>
    </footer>

    <script charset="utf-8" type="text/javascript" src="../assets/data/data.js"></script>
    <script charset="utf-8" src="../assets/javascripts/vendor/d3.v3.4.8.js"></script>
    <script charset="utf-8" src="../assets/javascripts/vendor/dimple.v2.0.2.js"></script>
    <script charset="utf-8" src="../assets/javascripts/vendor/react-with-addons.js"></script>
    <script charset="utf-8" src="../assets/cljs/goog/base.js"></script>
    <script charset="utf-8" src="../assets/cljs/main.js"></script>
    <script type="text/javascript">goog.require("clojurewerkz.envisioncljs.line_chart");</script>

  </body>

</html>
