<html>
  <head>
    <title>Envision Graphs</title>
    <link href='public/stylesheets/vendor/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='public/stylesheets/vendor/bootstrap-docs.css' media='screen' rel='stylesheet' type='text/css' />
    <link href="public/stylesheets/application.css" rel="stylesheet">
  </head>
  <body>
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-12">
          <widget id="main-content" />
        </div>
      </div>
    </div>


    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        <p>Made with Statistiker (c)</p>
      </div>
    </footer>

    <widget id="data"></widget>
    <script src="public/javascripts/vendor/jquery.v2.0.3.min.js"></script>
    <script src="public/javascripts/vendor/graph/d3.js" charset="utf-8"></script>
    <script src="public/javascripts/vendor/graph/dimple.v1.1.5.min.js"></script>
    <script src="public/javascripts/vendor/react-with-addons.js"></script>
    <script src="public/javascripts/vendor/underscore.js"></script>
    <widget id="includes"></widget>

  </body>
</html>
