<div>
  <div snippet="clusters-content">
    <div class="page-header">
      Here you can see the clusters of data and filter it in any desired way
    </div>

    <div>
      <h2>Clusters</h2>
      <button type="button" class="host-btn btn btn-default btn-success">0</button>
      <button type="button" class="host-btn btn btn-default btn-success">1</button>
      <button type="button" class="host-btn btn btn-default btn-success">2</button>
      <button type="button" class="host-btn btn btn-default btn-success">3</button>
      <button type="button" class="host-btn btn btn-default btn-success">4</button>
    </div>

    <div>
      <h2>Scale</h2>
      <button type="button" class="scale-btn btn btn-default btn-success">linear</button>
      <button type="button" class="scale-btn btn btn-default">log</button>
    </div>


  </div>
</div>
